@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>500 Something went wrong</title>
</head>
<body>
  <h1>404 Oops something went, please try again in sometime.</h1>
</body>
</html>
